@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

button,
a {
  @apply rounded-[20px] px-4 h-[40px] flex items-center justify-center relative;
}

@keyframes animate-ripple {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    transform: scale(4);
    opacity: 0;
  }
}

.ripple-container {
  @apply relative overflow-hidden;
}

/* Card Styles */

.base-card {
  @apply rounded-[12px] p-4;
}

.elevated-card {
  @apply base-card bg-surface-container-low text-on-surface dark:bg-surface-container-low-dark dark:text-on-surface-dark shadow-lg;
}

.outlined-card {
  @apply base-card bg-surface text-on-surface dark:bg-surface-dark dark:text-on-surface-dark border border-outline-variant/50;
}

.filled-card {
  @apply base-card bg-surface-container-highest text-on-surface dark:bg-surface-container-highest-dark dark:text-on-surface-dark;
}

/* Button Styles */

.elevated-button {
  @apply shadow-lg bg-surface-container-low dark:bg-surface-container-low-dark text-primary dark:text-primary-dark;
}

.filled-button {
  @apply bg-primary dark:bg-primary-dark text-on-primary dark:text-on-primary-dark hover:shadow;
}

.filled-tonal-button {
  @apply bg-secondary-container dark:bg-secondary-container-dark text-on-secondary-container dark:text-on-secondary-container-dark hover:shadow;
}

.outlined-button {
  @apply border border-outline dark:border-outline-dark text-primary dark:text-primary-dark;
}

.text-button {
  @apply text-primary dark:text-primary-dark hover:bg-surface-container/50 dark:hover:bg-surface-container-dark/50;
}
