@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

button,
a {
  @apply rounded-[20px] px-4 h-[40px] flex items-center justify-center relative;
}

@keyframes animate-ripple {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    transform: scale(4);
    opacity: 0;
  }
}

.ripple-container {
  @apply overflow-hidden;
}

.base-card {
  @apply rounded-[12px] p-4;
}

.elevated-card {
  @apply base-card bg-surface-container-low text-on-surface dark:bg-surface-container-low-dark dark:text-on-surface-dark shadow-lg;
}

.outlined-card {
  @apply base-card bg-surface text-on-surface dark:bg-surface-dark dark:text-on-surface-dark border border-outline-variant/50;
}

.filled-card {
  @apply base-card bg-surface-container-highest text-on-surface dark:bg-surface-container-highest-dark dark:text-on-surface-dark;
}
